*{
    font-family: 'M PLUS 1', sans-serif;
    color: white;
    user-select: none;
}

body{
    background-image: url('/assets/imgs/wallpaper2.jpg');
    min-height: 789px;
    background-size: cover;
}

.hide{
    display: none;
}

.barra-topo{
    position: absolute
}

#header-box{
    margin-top: 10px;
    color: white;
}

#header-time{
    font-size:120px;
}

#player-box{
    background-color: rgb(0, 0, 0, 0.5);
    height: 75px;
    width: 559px;
    border-radius: 20px;
    margin: 40px;
}


.widget-sm{
    background-color: rgb(46, 59, 67, 0.9);
    height: 120px;
    width: 120px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 6px 6px 23px -6px rgba(0,0,0,0.41);
    -moz-box-shadow: 6px 6px 23px -6px rgba(0,0,0,0.41);
    box-shadow: 6px 6px 23px -6px rgba(0,0,0,0.41);

}

.widget-sm i{
    align-self: center;
}

.widget-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 190px;
}

.widget-group p{
    text-align: center;
}

.widget-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
}

.widget-m{
    width: 330px;
    height: 197px;
    background-color: rgb(46, 59, 67, 0.9);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
    justify-content: space-around;
    -webkit-box-shadow: 6px 6px 23px -6px rgba(0,0,0,0.41);
    -moz-box-shadow: 6px 6px 23px -6px rgba(0,0,0,0.41);
    box-shadow: 6px 6px 23px -6px rgba(0,0,0,0.41);
}

.widget-m p{
    font-size: 70px;
}

#widget-column{
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    align-items: flex-end;
}

#widget-box i{
    font-size: 60px;
}

.album-art{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-image: url("/assets/imgs/Hounds_of_Love_-_Kate_Bush.png");
    background-size: cover;

}

.track-info p{
    font-size: 14px;
    margin: 0px;
    color: #D9D9D9;
}

.player-controls i{
    padding: 15px;
    font-size: 35px;
    color: #D9D9D9;
}

.icon-gradient{
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-active{
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.active-border{
    -webkit-box-shadow: 6px 6px 23px -6px rgba(0,0,0,0.53) !important;
    -moz-box-shadow: 6px 6px 23px -6px rgba(0,0,0,0.53) !important;
    box-shadow: 6px 6px 23px -6px rgba(0,0,0,0.53) !important;
}

.icons-widget{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.icons-widget i{
    font-size: 35px;
}


.red-ac{
    font-size: 40px !important;
    color: red;
}

.blue-ac{
    font-size: 40px !important;
    color: #0e4fc7 !important;
}

.buttons-ac{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.buttons-ac i{
    font-size: 40px;
    color: white;
}

button{
    border: none;
    background: none;
    width: min-content;
    height: min-content;
}

.popup{
    background-color: rgb(46, 59, 67, 0.9);
    font-size: 28px;
    position: absolute;
    display: none;
    flex-direction: column;
    top: 42%;
    left: 51%;
    z-index: 1;
    height: 300px;
    border-radius: 20px;
    min-width: 750px;
    padding: 5px;
    z-index: 2;
    text-align: center;
    justify-content: center;
}

.popup ul>li{
    list-style: none;
}

.popup ul>li>button{
    margin: 25px;
    background-color: rgb(255,255,255,0.1);
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    width: 95%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.atalho-popup{
    background-color: rgb(67, 67, 67, 0.5);
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    position: absolute;
    top: 0%;
}

.info-clima{
    color:  white;
    z-index: 1;
    position: absolute;
    width: 330px;
    height: 197px;
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#fundo-clima{
    background-size: cover;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    min-width: 330px;
    min-height: 197px;
    border-radius: 20px;
}

.temperaturas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: end;
}

.col-clima{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.col-clima > span{
    font-size: 11px;
}

.temp-max-min{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-end;
}

.alerta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: red;
    border-radius: 20px;
    height: 197px;
    min-width: 330px;
}

.alerta p{
    font-size: 60px;
}

.alerta span{
font-size: 15px;
}

@keyframes blink {
    50% {
      opacity: 0.0;
    }
  }
.blink {
    animation: blink 1s step-start 0s infinite;
}

.w-alerta{
    width: 330px;
    height: 197px;
    background-color: red;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
    justify-content: space-around;
    -webkit-box-shadow: 6px 6px 23px -6px rgba(0,0,0,0.41);
    -moz-box-shadow: 6px 6px 23px -6px rgba(0,0,0,0.41);
    box-shadow: 6px 6px 23px -6px rgba(0,0,0,0.41);
}

.config{
    font-size: 35px;
    color: white;
}